<!DOCTYPE html>
<html>

<head>
    <title>kefalica Leskovac</title>
    <link rel="stylesheet" type="text/css" href="/styles/kefalica.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-light image">
        <a class="navbar-brand" href="https://www.facebook.com/KefalicaLeskovac/">
            <img src="/assets/images/kefalica.jpg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="file:///C:/Users/ABC/Desktop/kefalica%20sajt/kefalica.html">
                        <p>Home</p> <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">
                        <p>quiz</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="file:///C:/Users/ABC/Desktop/contac%20us/kefalica.html">
                        <p>contact us</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="colum">
            <div class="row form-gruop">
                <h3>Adresa: Cedoimira Sundrica 7, 16000, Leskovac</h3>
                <input style="margin-left: 50px; margin-bottom: 10px;" placeholder="Tvoje ime" type="" name="">
            </div>
            <div class="row">
                <h3>telefon: +381628175441</h3>
                <input style="margin-left: 286px; margin-bottom: 10px;" placeholder="Email" type="" name="">
            </div>
            <div class="row">
                <h3>Email: nikola98le@gmail.com</h3>
                <input style="margin-left: 235px; margin-bottom: 10px;" placeholder="tema" type="" name="">
            </div>
            <div class="row">
                <h3>letnje radno vreme: 10:00h do 20:00h</h3>
                <input style="margin-left: 150px; margin-bottom: 10px;" placeholder="poruka" type="" name="">
            </div>
            <input style="margin-left: 540px;" class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>

    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
    </footer>
    </script>

</body>

</html>