<%- include('../partials/header') %>
<%- include('../partials/nav') %> 
<!DOCTYPE html>
<html>
<head>
	<title>kefalica Leskovac</title>
	<!-- <link rel="stylesheet" type="text/css" href="/kefalica.css" > -->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
</head>
<body>
	<div class="container py-5">
		
		<div class="row my-5">
			<form style="width: 80%;margin-left: 10%;" action="/category/insert" method="POST">
			  	<div class="form-group">
			    	<label for="exampleInputEmail1">Nova kategorija</label>
			    	<input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter category">
				  </div>
				<div class="form-group text-right">
					<a type="submit" name="submit" class="btn btn-primary text-right" href="/category">Lista kategorija</a>
					<button type="submit" name="submit" class="btn btn-primary text-right">Unesi</button>

				</div>
			</form>
		</div>
    </div>
</body>
<script src="/assets/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>