<%- include('../partials/header.ejs') %>


<%- include('../partials/nav.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="my-5">Novi predmet</h2>
            <form action method="POST">
                <div class="form-group">
                    <label for="sifra">Sifra</label>
                    <input type="text" class="form-control" id="sifra" name="sifra">
                </div>
                <div class="form-group">
                    <label for="naziv">Naziv</label>
                    <input type="text" class="form-control" id="naziv" name="naziv">
                </div>
                <div class="form-group">
                    <label for="godina_studija">Godina studija</label>
                    <input type="number" class="form-control" id="godina_studija" name="godina_studija">
                </div>
                <div class="form-group">
                    <label for="espb">ESPB</label>
                    <input type="number" class="form-control" id="espb" name="espb">
                </div>
                <div class="form-group">
                    <label for="obavezni_izborni">Obavezni / Izborni</label>
                    <select name="obavezni_izborni" class="form-control">
                        <option value="obavezni">Obavezni</option>
                        <option value="izborni">Izborni</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
            </form>
        </div>
    </div>
</div>